<section id="main" class="main-wrapper">
    <div class="container">
        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{#each books}}
            <div data-book-id="{{id}}" class="book_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <div class="book">
                    <a href="/lib/books/{{id}}"><img src="img/books/{{id}}.jpg" alt={{{title}}}>
                        <div data-title={{{title}}} class="blockI" style="height: 46px;">
                            <div data-book-title={{{title}}} class="title size_text">{{{title}}}</div>
                            <div data-book-author={{{author_name}}} class="author">{{{author_name}}}</div>
                        </div>
                    </a>
                    <a href="/lib/books/{{id}}">
                        <button type="button" class="details btn btn-success">Читать</button>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <center>{{>pag}}</center>
</section>